.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.box {
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

#box-4 {
  border: none;
}
